@import "tailwindcss";

.leaflet-control-attribution {
    font-size: 10px !important;
    background: rgba(255, 255, 255, 0.8) !important;
}
.leaflet-tile {
    filter: saturate(0.9) brightness(1.05);
}
/* Override transition for dragging card to be immediate */
.card.dragging {
    transition: none !important;
}
